@import "https://eklavyacss.netlify.app/style.css";
@import "https://use.fontawesome.com/releases/v5.15.3/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

.logo {
  width: 100px;
  align-self: flex-start;
  color: #575756;
  padding: 0.5rem;
  display: flex;
}
a {
  text-decoration: none;
}
.logo > img {
  width: 100%;
  height: 100%;
}
.logo > span {
  align-self: end;
  line-height: 0.8;
}
.ecom-navbar {
  display: flex;
  justify-content: space-between;
}
.ecom-navbar > .actions {
  display: flex;
}
.navbar-stick {
  position: sticky;
  top: 0;
}
.productgrid {
  display: grid;
  grid-template-areas: "action items";
  align-items: baseline;
  width: 100%;
  grid-template-columns: 17rem auto;
}
.action {
  grid-area: action;
  position: sticky;
  top: 0;
  width: 15rem;
}
.items {
  grid-area: items;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}
.items > div {
  margin: 3%;
  overflow: hidden;
}
.items > div > .wish {
  left: 0%;
}

.added_to_cart {
  width: 92%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #282c3f;
  margin-left: 4%;
  margin-right: 4%;
}
.added_to_cart > button {
  font-size: 14px;
  border: 1px solid rgb(186, 186, 186);
  padding: 5px 10px;
  background: white;
  cursor: pointer;
}
.cancel {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}
.cards-t1 > .title {
  padding: 0 4%;
}
.cards-t1 > .desc {
  margin-bottom: 10px;
}
.cards-t1 > .price {
  margin-top: 5px;
}
.cards-t1-oldprice {
  font-size: 12px;
  color: #7e818c;
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 2.4px;
  padding-right: 7px;
  text-align: right;
}
.cards-t1 > .wish {
  top: 73%;
}
.cards-t1-offer {
  font-weight: 600;
  font-size: 10px;
  color: #ff905a;
  margin-left: 2.4px;
  padding-right: 7px;
  text-align: right;
}
.icon-badge {
  top: 9%;
  right: 6%;
  background: #f16565;
  font-weight: 600;
}

.icon-button.lg {
  width: 40px;
  height: 40px;
}
.sortpopup {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}
.sortblock {
  position: fixed;
  bottom: 0;
  height: 25vh;
  width: 100%;
  background: white;
}
.filterlist {
  padding-top: 2rem;
}
.filterpopup {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 3;
  background: white;
}
.filterapply {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sortblock li {
  padding: 0.3rem;
  cursor: pointer;
}
.sortblock li:hover {
  background: #e2e2e2;
}
.sort-filter {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
}
.sort-filter > button {
  width: 100%;
  background: white;
  padding: 0.5em 0;
  cursor: pointer;
  border: 1px solid #e2e2f2;
}
.cards-badge {
  font-size: 90%;
}
.rate {
  position: absolute;
  bottom: 9%;
  right: 0;
  border-radius: 0.5rem 0rem 0 0.5rem;
  background: gold;
  font-size: 10px;
  padding: 0.1em 0.1em 0.1em 0.3em;
}
.rate > i {
  font-size: inherit;
  padding-left: 0.2em;
}
.ratewrapper {
  position: relative;
}
.round-img {
  max-width: 50%;
  min-width: 50px;
}
.round-category {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem 0;
}
.round-category a > div {
  max-width: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.percentage-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Link {
  text-decoration: none;
  color: inherit;
}
.percentage-category a {
  width: 20%;
  padding: 0.2em;
  max-width: 210px;
  min-width: 80px;
  height: 20%;
  max-height: 300px;
  min-height: 100px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  margin: 0.5em;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  color: #0093e9;
}
.productback {
  position: absolute;
  top: 12px;
  left: 5px;
  margin: 0;
  padding: 0;
}
.checkout {
  position: fixed;
  bottom: 0rem;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout > div {
  height: 2.5rem;
}
.checkout button {
  margin: 0 0.5rem 0 0;
}

@media only screen and (min-width: 600px) {
  .rate {
    font-size: 12px;
  }
  .sort-filter {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .action {
    display: none;
  }
  .productgrid {
    grid-template-areas: "items";
    grid-template-columns: auto;
  }
}
